* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0 solid;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff5f5;
}

.btn-logo {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  border: none;
  /*Style*/
  background-color: #fff5f5;
  transition: all 0.5s;
  padding: 0.6rem 0.6rem;
}

.btn-logo:hover,
.btn-logo:active {
  background-color: #ffe3e3;
}

.btn-logo:hover .text-logo {
  color: #fa5252;
  transition: color 0.5s;
}

.text-logo {
  color: #495057;
  font-size: 1.6rem;
  font-weight: 700;
}

.title-logo {
  height: 3.8rem;
  width: 3.8rem;
}

.container {
  width: 100rem;
  height: 65rem;
  margin: 0 auto;
  background-color: #fff5f5;
}

.pokesearch {
  height: 100%;
  border: 3px solid #ffc9c9;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    to left bottom,
    rgba(255, 135, 135, 0.35),
    rgba(255, 245, 245, 0.35)
  );
  background-size: cover;
  background-position: center;
  border-radius: 0.4rem;
}

.title {
  color: #495057;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: none;
  margin: 2rem auto;
  grid-column: 1 / -1;
  font-size: 4.8rem;
  font-weight: 700;
  align-self: flex-start;
}

.search {
  grid-column: 1 / -1;
  margin: 1rem auto;
  display: flex;
  gap: 0.4rem;
}

.search input {
  width: 40rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: #212529;
  border: 1px solid #ff8787;
  border-radius: 0.6rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ff8787;
  border-radius: 1px;
}

.btn {
  border: none;
  background: none;
  width: 3rem;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
}

.btn:hover .btn-icon {
  color: #c92a2a;
  transition: all 0.5s;
}

.btn-icon {
  height: 3.6rem;
  width: 3.6rem;
  color: #ff6b6b;
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 2rem;
  row-gap: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #777;
  display: inline-block;
}

.poke-card {
  width: 22rem;
  border: 1px solid #ffc9c9;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.35s;
  border-radius: 1.2rem;
  background-image: linear-gradient(
    to top right,
    rgba(255, 135, 135, 0.35),
    rgba(255, 245, 245, 0.35)
  );
}

.result-content {
  display: flex;
  justify-content: center;
}

.image {
  margin-bottom: 1rem;
}

.number {
  color: #666;
  text-align: center;
}

.name {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #222;
  margin-bottom: 4px;
}

.type span {
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  color: #777;
  background-color: #222;
}

.type {
  margin-bottom: 1.6rem;
  display: flex;
  gap: 0.5rem;
}

.type span {
  text-transform: uppercase;
  color: #111;
  font-weight: 700;
  font-size: 0.8rem;
}

.poke-card:hover {
  box-shadow: 1px 1px 1rem 0.1px #c92a2a;
  background-color: #ffc9c9;
}

.image img {
  width: 15rem;
  height: 15rem;
}

.result-container {
  margin: auto;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(
    to top right,
    rgba(255, 135, 135, 0.35),
    rgba(255, 245, 245, 0.35)
  );
}

.result-allData {
  align-items: center;
  box-shadow: 0 0 6px 0 #a61e4d;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(
    to top right,
    rgba(255, 135, 135, 0.35),
    rgba(255, 245, 245, 0.35)
  );
}

.content-img-type {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
}

.content-stats div {
  align-self: center;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

table {
  font-size: 18px;
  border-collapse: collapse;
  align-self: flex-start;
}

th {
  padding: 8px 16px;
  text-align: right;
  color: #495057;
}
td {
  padding: 8px 16px;
  color: #343a40;
}

td span {
  margin-right: 1rem;
  padding: 0 1rem;
  border-radius: 4px;
}

figure img {
  width: 220px;
}

.number {
  font-size: 14px;
  padding-right: 0.8rem;
}

.name {
  font-weight: 700;
  font-size: 16px;
  color: #343a40;
}
